body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.nav > a {
  border: 1px solid black;
}

div.view {
  border: 1px solid black;
  border-radius: 5px;
  width: 60vw;
  margin-left: 20vw;
  height: 40vh;
}

div.flight {
  width: 100%;
  border: 1px solid green;
}
