body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.App {
  background-color: #F2F2F2;
  height: 100vh;
  font-family: 'Rubrik', sans-serif;
}

/* NAV BAR ////////////////////////////////////////////////////////////////////// */
div.nav {
  width: 100vw;
  background-color: #478CC1;
  color: #F2F2F2;
  display: flex;
  flex-flow: row ;
  justify-content: space-around;
}

#logo {
  max-height:45px;
  align-self: bottom;
}

div.nav > .clicktrip {
  font-size: xx-large;
  font-weight: bolder;
  font-family: 'Roboto Slab', serif;
  display: flex;
  flex-direction: row;
}

div.links {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

button.link {
  height: 100%;
  font-size: small;
  font-weight: bolder;
  align-content: center;
  justify-content: center;
  background-color: #478CC1;
  color: #F2F2F2;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: 1px solid #464646;
}

button.nav-end {
  border-right: 1px solid #464646;
}

button.link:hover {
  background-color: #98C9E0;
  color: #464646;
  border-bottom: 1px solid #464646; 
}

/* VIEW CONTAINER ////////////////////////////////////////////////////////////////////// */
div.view {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url(./images/searchbg0.jpg);
}

div.selection {
  background: rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

div.selection > p {
  color: #F2F2F2;
  font-family: 'Roboto Slab', serif;
  align-self: center;
}

div.flights-view {
  background-image: url(airplane-1670266_1920.jpg);
  background-size: cover;
}

div.hotels-view {
  background-image: url(pillows-1031079_1920.jpg);
  background-size: cover;
}

div.activities-view {
  background-image: url(park-4203275_1920.jpg);
  background-size: cover;
}

/* ALL BUTTONS NOT IN NAV ////////////////////////////////////////////////////////////////////// */

button {
  background-color: #f2f2f2;
  align-self: center;
}

button:hover {
  background-color: #478CC1;
}

/* ALL SEARCHES ////////////////////////////////////////////////////////////////////// */
div.search {
  background-color: #478CC1;
  color: black;
  width: 66%;
  align-content: center;
  height: 66%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

/* CONTAINERS ////////////////////////////////////////////////////////////////////// */

input[type=radio] {
  display: none;
}

input[type="radio"] + label > div {
  background: #f2f2f2;
  color:#464646;
  padding: 15px;
  border-top: 2px solid rgba(0,0,0,0.75);
  border-bottom:2px solid rgba(0,0,0,0.75);
}

input[type=radio]:checked + label > div {
  background-color: green;
}

input[type=checkbox] {
  display: none;
}

input[type="checkbox"] + label > div {
  background: #f2f2f2;
  color:#464646;
  padding: 15px;
  border-top: 2px solid rgba(0,0,0,0.75);
  border-bottom:2px solid rgba(0,0,0,0.75) ;
}

input[type="checkbox"]:hover + label > div {
  background-color: darkgray;
}

input[type=checkbox]:checked + label > div {
  background-color: #82BC83;
  color: black;
}

/* FLIGHT ITEM ////////////////////////////////////////////////////////////////////// */


/* HOTEL ITEM ////////////////////////////////////////////////////////////////////// */
div.hotel {
  width: 100%;
  border: 1px solid purple;
}

/* ACTIVITY ITEM ////////////////////////////////////////////////////////////////////// */


div.inactive-trip {
  background-color: grey;
}
div.active-trip {
  background-color: green;
}

div.trip-details {
  z-index: 100;
  background-color: grey;
}

/* ITINERARY ////////////////////////////////////////////////////////// */

div.itinerary {
  background: rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  min-height: 66%;
  color: #f2f2f2;
  max-width: 95%;
}

div.itinerary-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px; 
  margin-top: 5px;
  margin-bottom: 5px;
}

div.itinerary-title > div {
  /* color: #F2F2F2; */
  font-family: 'Roboto Slab', serif;
  align-self: center;
  font-size: x-large;
  margin-left: auto;
  width:100%;
  text-align: center;
}

div.itinerary-title > button {
  margin-left: auto;
  background-color: rgba(0,0,0,0);
  color: #F2F2F2;
  height: 100%;
  font-weight: bold;
}
div.itinerary-title > button:hover {
  margin-left: auto;
  background-color: #f2f2f2;
  color: #464646;
  height: 100%;
}

div.itinerary-buttons {
  display:flex;
  justify-content: center;
}

div.itinerary-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.itinerary-info > div {
  padding: 10px;
  border-right: 1px solid #f2f2f2;
}

div.itinerary-info > div.last {
  border-right: none;
}

div.itinerary-bookings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div.itinerary-col {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

div.itinerary-col > p {
  font-size: large;
  align-self: center;
}

/* TRIPS CONTAINER ///////////////////////////////////////////// */

.trips {
  display:flex;
  height: 100%;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}

.trips > h2 {
  width: 100%;
  text-align: center;
  align-self: flex-start;
}

.trip {
  width: 250px;
}